.love {

    border: 5px solid black;

    margin-left: 35%;

    margin-right: 35%;

}

.biggod {

    margin-top: 25%;

}

.forward {

    text-align: center;

}

.paddingbutton {

    text-align: center;

    font-size: 20px;

}

html {

    background-color: rgb(92, 225, 228);

    color: rgb(0, 0, 0);

}